.title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
}

.card{
    margin-bottom: 10px;
}
.card-header{
    text-align: center;
}

.news-img{
    margin: 10px;
    border: 2px;
    border-radius: 10px;
}

.card-body{
    font-family:'Courier New', Courier, monospace ;
}